In [ ]:
import pandas as pd 
import os
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import random
# path_data = "/content/drive/My Drive/ICIP/"
# path_imgs = "/content/drive/My Drive/ICIP/train_imgs/"

In [ ]:
#TEST DATA
test_path_data="/content/drive/My Drive/ICIP/TEST/"
# test_path_imgs="/content/drive/My Drive/ICIP/TEST/test_imgs/"

In [ ]:
test_img_info1 = pd.read_csv(test_path_data+'test_img_info1.csv')

In [ ]:
# headers = pd.read_csv(path_data+'headers_TRAIN.csv')

In [ ]:
# Y=pd.read_csv(path_data+'Clusters.csv')

In [ ]:
img_info1

          FlickrId  ...                                               Tags
621    23647573678  ...
164    23647582078  ...
57     23647582388  ...                                          instagram
112    23647583748  ...  clothing textiles museum aeshm alice amd mary ...
544    23647586378  ...
...            ...  ...                                                ...
20292  49108928407  ...  phim \u1ea3nh ch\u00faa \u0111\u1ee9c ph\u1ead...
20038  49108930512  ...
20009  49108933202  ...                                2019 2020 wikipedia
20289  49108933542  ...                                       admin review
20161  49108934937  ...  tacoma tideflats portoftacoma commencementbay ...

[20337 rows x 9 columns]

In [ ]:
test_img_info1

         FlickrId  ...                                               Tags
0     49098581833  ...             prf clariantinternationalltd clapr1634
1     49098582593  ...                                            carwash
2     49098582698  ...                                                NaN
3     49098582733  ...  greenheron usa wildlife butoridesvirescens us ...
4     49098584118  ...                                    ifttt instagram
...           ...  ...                                                ...
7688  49104539732  ...  volleyball mug lover i like funny gift idea fo...
7689  49104542697  ...                                                NaN
7690  49104544567  ...                                                NaN
7691  49104545392  ...                                                NaN
7692  49104546122  ...                                                NaN

[7693 rows x 9 columns]

In [ ]:
test_img_info1.isnull().sum()

FlickrId             0
Size                 0
Title              954
Description       4815
NumSets              0
NumGroups            0
AvgGroupsMemb        0
AvgGroupPhotos       0
Tags              4945
dtype: int64

In [ ]:
test_img_info1.Tags.value_counts()

instagram ifttt                                                                                                                                                                   256
ifttt instagram                                                                                                                                                                   251
firestorm secondlife                                                                                                                                                               34
instagram                                                                                                                                                                          33
ssr                                                                                                                                                                                16
                                                                                                                                                                                 ...
naked nainen nude redhead terhi tfcd woman curlygirl topless                                                                                                                        1
director tshirt coworker gift idea funny gag unisex tee joke funnygift unique giftidea giftideas funnygifts custom handmade giftsforher giftsforhim coworkergift coworkergifts      1
hungary sail landscape nature water harbor balaton holiday yacht lake blue hungarian sailboat beautiful travel scene dock sky sport boat ship europe yachting vacation              1
nadiapalik                                                                                                                                                                          1
urbex abbandonato isoladellecorrenti abbandono sicilia                                                                                                                              1
Name: Tags, Length: 1985, dtype: int64

In [ ]:
test_img_info1.Title.value_counts()

Untitled                                                                                                                                                                                                                                                           67
Photo                                                                                                                                                                                                                                                              42
5 Star Review                                                                                                                                                                                                                                                      25
.                                                                                                                                                                                                                                                                   9
...                                                                                                                                                                                                                                                                 6
                                                                                                                                                                                                                                                                   ..
–ü—Ä–æ–µ–∫—Ç –∑–∞—Å—Ç—Ä–æ–π–∫–∞ –¥–ª—è –∑–æ–Ω—ã —Ñ—É–¥-–∫–æ—Ä—Ç–∞ –≤ –¢–¶ –Ø—Å–µ–Ω—å (–≥.–ò–≤–∞–Ω–æ–≤–æ). –ü–æ–¥–≤–µ—Å–Ω—ã–µ –ø–æ—Ç–æ–ª–∫–∏,  –º–æ–Ω—Ç–∞–∂–Ω–∞—è –≤—ã—Å–æ—Ç–∞ 8–º. –°—Ç–æ–π–∫–∞, –¥–µ–∫–æ—Ä, –º–æ–Ω—Ç–∞–∂ –∏ —Ä–∞–±–æ—Ç–∞ —Å–æ —Å–º–µ–∂–Ω–∏–∫–∞–º–∏. –°—Ä–æ–∫ —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞ —Å–æ—Å—Ç–∞–≤–∏–ª 3 –Ω–µ–¥–µ–ª–∏ –ø–æ–¥ –∫–ª—é—á.                                                              1
100% american muscle                                                                                                                                                                                                                                                1
Juana Serra                                                                                                                                                                                                                                                         1
Moving some bikes around, and highlighting some serious close outs we have on models from Brodie, Opus, Bombtrack... and we have some sweet deals on previously enjoyed bikes. Plenty of wine tour rentals left! The winter forecast is calling for a serious S     1
hot choccie time                                                                                                                                                                                                                                                    1
Name: Title, Length: 6437, dtype: int64

In [ ]:
test_img_info1.Description.value_counts()

                                                                                                                                                                          93
                                                                                                                                                                          16
Olympus digital camera                                                                                                                                                    14
dav                                                                                                                                                                       12
by-[ChipVN]-Image-Uploader                                                                                                                                                 8
                                                                                                                                                                          ..
View on Instagram <a href= https://ift.tt/2D9DT44  rel= noreferrer nofollow >ift.tt/2D9DT44</a>                                                                            1
Fairy Tail - Screenshot #233543                                                                                                                                            1
Lu·∫≠t NQH Vi·ªát Nam ‚Äì Lu·∫≠t S∆∞ C·ªßa M·ªçi Nh√† <a href= https://ift.tt/2O87tgS  rel= noreferrer nofollow >ift.tt/2O87tgS</a>                                                      1
View on Instagram <a href= https://ift.tt/2qAD4P7  rel= noreferrer nofollow >ift.tt/2qAD4P7</a>                                                                            1
via JewelryVID.com üíé Best Jewelry Videos Inspirations from all your favorite videostars! <a href= https://ift.tt/2OxrzjD  rel= noreferrer nofollow >ift.tt/2OxrzjD</a>     1
Name: Description, Length: 2639, dtype: int64

In [ ]:
img_info1.isnull().sum()

In [ ]:
img_info1.Tags.value_counts()

In [ ]:
img_info1[img_info1['Title']=='ineedhalloweenideas halloween makeup make up ideas for 2017 happy night before christmas october 31 autumn fall spooky body paint art creepy scary pumpkin boo artist goth gothic']

In [ ]:
img_info1['Tags'][img_info1['Description']=='from my tumblr blog'].isnull().sum()

20

In [ ]:
headers[headers['FlickrId']==36871955293]

       Unnamed: 0     FlickrId  ...   DateTaken   DateCrawl
16245       16245  36871955293  ...  1507340508  1507340747

[1 rows x 7 columns]

In [ ]:
#MAKING iftt and insta same
test_img_info1.Tags.replace('instagram ifttt','ifttt instagram',inplace=True)

In [ ]:
#FILLING NAN VALUES
test_img_info1.Title.fillna('Untitled',inplace=True)
test_img_info1.Description.fillna(' ',inplace=True)
test_img_info1.Tags.fillna('ifttt instagram',inplace=True)

In [ ]:
import re
import nltk
import spacy
import string

In [ ]:
#Arranging on basis of FlickrId

In [ ]:
test_img_info1.sort_values(by=['FlickrId'],inplace=True)

In [ ]:
#Lower Casing

In [ ]:
test_img_info1['Title_lower']=test_img_info1['Title'].str.lower()
test_img_info1['Description_lower']=test_img_info1['Description'].str.lower()
test_img_info1['Tags_lower']=test_img_info1['Tags'].str.lower()

In [ ]:
test_img_info1.isnull().sum()

FlickrId             0
Size                 0
Title                0
Description          0
NumSets              0
NumGroups            0
AvgGroupsMemb        0
AvgGroupPhotos       0
Tags                 0
Title_lower          0
Description_lower    0
Tags_lower           0
dtype: int64

In [ ]:
#Removing previous columns
test_img_info1.drop(['Title'],axis=1,inplace=True)
test_img_info1.drop(['Description'],axis=1,inplace=True)
test_img_info1.drop(['Tags'],axis=1,inplace=True)

In [ ]:
#Removing URL because they also have punctuation so it might become a problem after that

In [ ]:
# Function for url's
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

In [ ]:
#Passing the function to 'text_rare'
test_img_info1['Title_lower'] = test_img_info1['Title_lower'].apply(remove_urls)
test_img_info1['Description_lower'] = test_img_info1['Description_lower'].apply(remove_urls)
test_img_info1['Tags_lower'] = test_img_info1['Tags_lower'].apply(remove_urls)

In [ ]:
#Removal of Punctuations

In [ ]:
#removing punctuation, creating a new column
test_img_info1['Title_punct'] = test_img_info1['Title_lower'].str.replace('[^\w\s]','')
test_img_info1['Description_punct'] = test_img_info1['Description_lower'].str.replace('[^\w\s]','')
test_img_info1['Tags_punct'] = test_img_info1['Tags_lower'].str.replace('[^\w\s]','')

In [ ]:
#Removing previous columns
test_img_info1.drop(['Title_lower'],axis=1,inplace=True)
test_img_info1.drop(['Description_lower'],axis=1,inplace=True)
test_img_info1.drop(['Tags_lower'],axis=1,inplace=True)

In [ ]:
test_img_info1.head()

      FlickrId  ...                                         Tags_punct
0  49098581833  ...             prf clariantinternationalltd clapr1634
1  49098582593  ...                                            carwash
2  49098582698  ...                                    ifttt instagram
3  49098582733  ...  greenheron usa wildlife butoridesvirescens us ...
4  49098584118  ...                                    ifttt instagram

[5 rows x 9 columns]

In [ ]:
#STOP WORDS REMOVAL

In [ ]:
from nltk.corpus import stopwords

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
stop = set(stopwords.words('english'))

In [ ]:
#Function to remove stopwords

def removeStopWords(text):
  return " ".join([word for word in str(text).split() if word not in stop]) #since without tokenization

In [ ]:
test_img_info1["Title_stop"] = test_img_info1["Title_punct"].apply(removeStopWords)
test_img_info1["Description_stop"] = test_img_info1["Description_punct"].apply(removeStopWords)
test_img_info1["Tags_stop"] = test_img_info1["Tags_punct"].apply(removeStopWords)

In [ ]:
#Removing previous columns
test_img_info1.drop(['Title_punct'],axis=1,inplace=True)
test_img_info1.drop(['Description_punct'],axis=1,inplace=True)
test_img_info1.drop(['Tags_punct'],axis=1,inplace=True)

In [ ]:
test_img_info1.head()

      FlickrId  ...                                          Tags_stop
0  49098581833  ...             prf clariantinternationalltd clapr1634
1  49098582593  ...                                            carwash
2  49098582698  ...                                    ifttt instagram
3  49098582733  ...  greenheron usa wildlife butoridesvirescens us ...
4  49098584118  ...                                    ifttt instagram

[5 rows x 9 columns]

In [ ]:
# # Removing the frequent words
# freq = set([w for (w, wc) in count.most_common(15)])

# # function to remove the frequent words
# def freqwords(text):
#     return " ".join([word for word in str(text).split() if word not 
# in freq])

In [ ]:
# Passing the function freqwords
# img_info1["Title_common"] = img_info1["Title_stop"].apply(freqwords)

In [ ]:
# count=Counter()

In [ ]:
# for text in img_info1["Description_stop"].values:
#     for word in text.split():
#         count[word] += 1

In [ ]:
# count.most_common(10)

In [ ]:
#SPELLING CORRECTION (PRETTY BIG DEAL)

In [ ]:
# # Spell check using text blob
# from textblob import TextBlob
# img_info1['Title_stop'].apply(lambda x: str(TextBlob(x).correct()))
# img_info1['Description_stop'].apply(lambda x: str(TextBlob(x).correct()))
# img_info1['Tags_stop'].apply(lambda x: str(TextBlob(x).correct()))

In [ ]:
#CONVERTING EMOJIS TO WORDS

In [ ]:
# # Converting emojis to words
# def convert_emojis(text):
#     for emot in UNICODE_EMO:
#         text = text.replace(emot, "_".join(UNICODE_EMO[emot].replace(",","").replace(":","").split()))
#         return text

In [ ]:
# # Converting emoticons to words    
# def convert_emoticons(text):
#     for emot in EMOTICONS:
#         text = re.sub(u'('+emot+')', "_".join(EMOTICONS[emot].replace(",","").split()), text)
#         return text

In [ ]:
# text = 'Happy :-)'
# convert_emoticons(text)

In [ ]:
# text1 = "Hilarious üòÇ"
# convert_emojis(text1)

In [ ]:
!pip install emot

Collecting emot
  Downloading https://files.pythonhosted.org/packages/49/07/20001ade19873de611b7b66a4d5e5aabbf190d65abea337d5deeaa2bc3de/emot-2.1-py3-none-any.whl
Installing collected packages: emot
Successfully installed emot-2.1

In [ ]:
from emot.emo_unicode import UNICODE_EMO, EMOTICONS

In [ ]:
# Function to remove emoji.
def emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [ ]:
# Function for removing emoticons
def remove_emoticons(text):
    emoticon_pattern = re.compile(u'(' + u'|'.join(k for k in EMOTICONS) + u')')
    return emoticon_pattern.sub(r'', text)

In [ ]:
#Removing the emojis and emoticons from img_info1

In [ ]:
test_img_info1['Title_stop'] = test_img_info1['Title_stop'].apply(emoji)
test_img_info1['Title_stop'] = test_img_info1['Title_stop'].apply(remove_emoticons)

In [ ]:
test_img_info1['Description_stop'] = test_img_info1['Description_stop'].apply(emoji)
test_img_info1['Description_stop'] = test_img_info1['Description_stop'].apply(remove_emoticons)

In [ ]:
test_img_info1['Description_stop'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              4939
href rel noreferrer nofollow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    30
via instagram href rel noreferrer nofollow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      16
olympus digital camera                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          15
dav                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             12
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ...
via instagram href rel noreferrer nofollow ifttt2oycchfa                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
href rel noreferrer nofollow bitly2xfpyrsa                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
serdecznie zapraszamy na pokaz kot√≥w 23112019 w ch osowa bƒôdziemy z naszymi indy jupi indygirkapl przedstawiamy oryginalny wpis klubu cat club sopot pokaz kot√≥w rasowych domowych w ch osowa w gda≈Ñsku 23112019 zarzƒÖd cat club sopot klubu mi≈Ço≈õnik√≥w kot√≥w serdecznie zaprasza na event w centrum handlowym osowa w gda≈Ñsku w czasie trwania eventu odbƒôdzie pokaz kot√≥w rasowych domowych pokaz odbƒôdzie siƒô w dniu 23112019 w godz 1100 1800 w centrum handlowym osowa ul spacerowa 48 80299 gda≈Ñsk pokaz bƒôdzie odbywa≈Ç siƒô pod has≈Çem wspieranie kot√≥w wolno bytujƒÖcych podczas pokazu zostanie przeprowadzony konkurs na naj≈Çadniejsze koty pokazu ch osowa 2019 1 g≈Ç√≥wnym celem konkursu jest wy≈Çonienie 3 naj≈Çadniejszych kot√≥w pokazu ch osowa 2019 przez publiczno≈õƒá 2 mioty nie biorƒÖ udzia≈Çu w rywalizacji bezpo≈õredniej tytu≈Ç naj≈Çadniejszego kota pokazu konkurs na naj≈Çadniejszy koci ogon warunki uczestnictwa 1 uczestnikami konkursu mogƒÖ byƒá wy≈ÇƒÖcznie koty zg≈Çoszone na pokaz kot√≥w w ch osowa w gda≈Ñsku w dniu 23112019 zapisane na listƒô uczestnik√≥w w≈Ça≈õciciel kota musi byƒá zrzeszony 2 w≈Ça≈õciciel kota konkursu musi zg≈Çosiƒá dla organizatora dnia 20112019 godz 16 00 lub wyczerpania miejsc podajƒÖc imiƒô kota przydomek miejsce zamieszkania w≈Ça≈õciciela na adres biurocatclubsopotpl 3 na konkurs na naj≈Çadniejszy koci ogon nale≈ºy zg≈Çosiƒá kota godz 1400 u organizatora w≈Ça≈õciciel mo≈ºe zg≈Çosiƒá tylko jednego kota konkursu 4 w≈Ça≈õciciel osobi≈õcie prezentuje swojego kota 5 koty organizatora pokazu nie mogƒÖ braƒá udzia≈Çu w konkursie nagrody w konkursie 1 naj≈Çadniejszy kot pokazu otrzyma nagrodƒô w wysoko≈õci 100000 z≈Ç puchar 2 kot kt√≥ry zdobƒôdzie ii miejsce otrzyma nagrodƒô w wysoko≈õci 70000 z≈Ç puchar 3 kot kt√≥ry zdobƒôdzie iii miejsce otrzyma nagrodƒô w wysoko≈õci 50000 z≈Ç puchar 4 kot mo≈ºe otrzymaƒá tylko jednƒÖ nagrodƒô 5 nagrody w konkursie nie mo≈ºna zamieniƒá na innƒÖ nagrodƒô 6 naj≈Çadniejszy miot otrzyma puchar ≈ºwirek 7 kot z naj≈Çadniejszym ogonem otrzyma puchar ≈ºwirek antoni kondej prezes zarzƒÖdu cat club sopot       1

In [ ]:
#Filling the blank up

In [ ]:
# img_info1.Description_stop.replace(' ','0',inplace=True)
# img_info1.Tags_stop.replace(' ','0',inplace=True)
# img_info1.Title_stop.replace(' ','0',inplace=True)

In [ ]:
#Tokenization

In [ ]:
# # importing word_tokenize from nltk
# from nltk.tokenize import word_tokenize

In [ ]:
# # #In case the punkt package is missing 
# nltk.download('punkt')

In [ ]:
# #Creating function for tokenization
# def tokenization(text):
#     text = re.split('\W+', text)
#     return text

In [ ]:
# # Passing the function to 'text_rare' and store into'text_token'
# img_info1['Title_token'] = img_info1['Title_stop'].apply(lambda x: tokenization(x.lower()))
# img_info1['Description_token'] = img_info1['Description_stop'].apply(lambda x: tokenization(x.lower()))
# img_info1['Tags_token'] = img_info1['Tags_stop'].apply(lambda x: tokenization(x.lower()))

In [ ]:
#Lemmatization

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV} # Pos tag, used Noun, Verb, Adjective and Adverb

In [ ]:
# Function for lemmatization using POS tag
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
# Passing the function to 'text_rare' and store in 'text_lemma'
test_img_info1["Title_lemma"] = test_img_info1["Title_stop"].apply(lemmatize_words)
test_img_info1["Description_lemma"] = test_img_info1["Description_stop"].apply(lemmatize_words)
test_img_info1["Tags_lemma"] = test_img_info1["Tags_stop"].apply(lemmatize_words)

In [ ]:
#Removing previous columns
test_img_info1.drop(['Title_stop'],axis=1,inplace=True)
test_img_info1.drop(['Description_stop'],axis=1,inplace=True)
test_img_info1.drop(['Tags_stop'],axis=1,inplace=True)
# img_info1.drop(['Title_token'],axis=1,inplace=True)
# img_info1.drop(['Description_token'],axis=1,inplace=True)
# img_info1.drop(['Tags_token'],axis=1,inplace=True)

In [ ]:
test_img_info1

         FlickrId  ...                                         Tags_lemma
0     49098581833  ...             prf clariantinternationalltd clapr1634
1     49098582593  ...                                            carwash
2     49098582698  ...                                    ifttt instagram
3     49098582733  ...  greenheron usa wildlife butoridesvirescens u l...
4     49098584118  ...                                    ifttt instagram
...           ...  ...                                                ...
7688  49104539732  ...  volleyball mug lover like funny gift idea hobb...
7689  49104542697  ...                                    ifttt instagram
7690  49104544567  ...                                    ifttt instagram
7691  49104545392  ...                                    ifttt instagram
7692  49104546122  ...                                    ifttt instagram

[7693 rows x 9 columns]

In [ ]:
test_img_info1['Description_lemma'].value_counts()

                                                                           4940
href rel noreferrer nofollow                                                 30
via instagram href rel noreferrer nofollow                                   16
olympus digital camera                                                       15
dav                                                                          12
                                                                           ...
via instagram href rel noreferrer nofollow ifttt343mdyha                      1
polvillo dorado syrichtus proto                                               1
via blogger href rel noreferrer nofollow ifttt2qrliova                        1
via instagram href rel noreferrer nofollow ifttt2ocaa10a                      1
delicious fresh lebanese food lovely decor atmosphere even though place       1
Name: Description_lemma, Length: 2560, dtype: int64

In [ ]:
test_img_info1.drop(['Size'],axis=1,inplace=True)
test_img_info1.drop(['NumSets'],axis=1,inplace=True)
test_img_info1.drop(['NumGroups'],axis=1,inplace=True)
test_img_info1.drop(['AvgGroupsMemb'],axis=1,inplace=True)
test_img_info1.drop(['AvgGroupPhotos'],axis=1,inplace=True)

In [ ]:
test_img_info1

         FlickrId  ...                                         Tags_lemma
0     49098581833  ...             prf clariantinternationalltd clapr1634
1     49098582593  ...                                            carwash
2     49098582698  ...                                    ifttt instagram
3     49098582733  ...  greenheron usa wildlife butoridesvirescens u l...
4     49098584118  ...                                    ifttt instagram
...           ...  ...                                                ...
7688  49104539732  ...  volleyball mug lover like funny gift idea hobb...
7689  49104542697  ...                                    ifttt instagram
7690  49104544567  ...                                    ifttt instagram
7691  49104545392  ...                                    ifttt instagram
7692  49104546122  ...                                    ifttt instagram

[7693 rows x 4 columns]

In [ ]:
test_img_info1.to_csv(test_path_data+'test_textfeatures.csv',index=False)

In [ ]:
# #PRE-PROCESSING ON TEXT FEATURES
# # from sklearn.feature_extraction.text import TfidfTransformer
# from sklearn.feature_extraction.text import TfidfVectorizer
# # from sklearn.feature_extraction.text import CountVectorizer

# vector=TfidfVectorizer(min_df=20)

# # from sklearn.feature_extraction.text import HashingVectorizer
# # vectorizer = HashingVectorizer(n_features=10000)

In [ ]:
# #CONVERTING THE PANDAS INTO NUMPY AND THEN CONVERTING TO NUMERIC
# X_tags=img_info1['Tags_lemma'].values
# X_desc=img_info1['Description_lemma'].values
# X_title=img_info1['Title_lemma'].values

In [ ]:
# X_tags=np.asarray(X_tags)

In [ ]:
# #Tags vectorization
# tags_num = vector.fit_transform(X_tags)
# print(tags_num.shape)

In [ ]:
# desc_num = vector.fit_transform(X_desc)
# print(desc_num.shape)

In [ ]:
# title_num=vector.fit_transform(X_title)
# print(title_num.shape)

In [ ]:
# #Converting to numpy array
# tags_num=tags_num.A
# desc_num=desc_num.A
# title_num=title_num.A

In [ ]:
#DIMENSION REDUCTION

In [ ]:
# from sklearn.decomposition import TruncatedSVD

In [ ]:
# Y=Y.values

In [ ]:
# Y=Y.reshape((Y.shape[0],))

In [ ]:
# Y.ravel()

In [ ]:
#Checking the variables importance

In [ ]:
# from sklearn.model_selection import train_test_split
# Train_X,Test_X,Train_Y,Test_Y=train_test_split(title_num,Y,test_size=0.1)

In [ ]:
# #Preparing for Random Forest Classifier
# from sklearn.ensemble.forest import RandomForestClassifier

In [ ]:
# model=RandomForestClassifier(n_estimators=200,criterion='entropy',random_state=42)
# model.fit(Train_X,Train_Y)

In [ ]:
# from sklearn import metrics

# Pred_Y2=model.predict(Test_X)

In [ ]:
# #title
# print(metrics.accuracy_score(Test_Y,Pred_Y2))

In [ ]:
# #description
# print(metrics.accuracy_score(Test_Y,Pred_Y1))

In [ ]:
# #tags
# print(metrics.accuracy_score(Test_Y,Pred_Y))

In [ ]:
# from sklearn.preprocessing import StandardScaler
# tags_num=StandardScaler().fit_transform(tags_num)

In [ ]:
#Tokenization

In [ ]:
# from nltk.tokenize import word_tokenize

In [ ]:
# nltk.download('punkt')

In [ ]:
# img_info1['token_tags'] = word_tokenize(img_info1['Tags_stop'])